<a href="https://colab.research.google.com/github/KharlamovaAnn/AnnKharlamovaADEU/blob/main/%D0%9B%D0%B0%D0%B1%D0%B0_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

№ 4.2.1

Рассчитать значение f при заданном значении вещественного числа x:

![image.png]()

При выводе на экран оставьте 2 знака после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_01.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


x = float(input())

if x >= 0:
    f = (x ** (1 / 2)) + (x ** 2)
else:
    f = 1 / x

print("Получившийся результат", round(f, 2))

# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

10
Получившийся результат 103.16

№ 4.2.2

Определите максимальное и минимальное значения из двух различных целых чисел.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_02.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


a1 = int(input("Введите первое целое число"))
a2 = int(input("Ввведите второе целое число"))

if a1!=a2:
    if a1>a2:
        print("Максимум", a1, "Минимум", a2)
    else:
        print("Максимум", a2, "Минимум", a1)


# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите второе число: 2
# Максимум: 2, минимум: 1

# Введите первое число: 5
# Введите второе число: 5
# Максимум: 5, минимум: 5

# Введите первое число: 100
# Введите второе число: -1
# Максимум: 100, минимум: -1

Введите первое целое число100
Ввведите второе целое число-1
Максимум 100 Минимум -1

№ 4.2.3

Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

Все величины - целые числа.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_03.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


a=int(input("Введите ширину окна"))
b=int(input("Введите высоту окна"))
d=int(input("Введите диаметр головы"))
if ((a or b or d)<0) :
  print("Неверные данные")
else:
  if (a-1>d) and (b-1>d) :
    print("Да")
  else:
    print("Нет")

# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

Введите ширину окна6
Введите высоту окна7
Введите диаметр головы4
Да

№ 4.2.4

Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_04.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru

a=int(input("Введите номер месяца сегодняшнего дня"))
b=int(input("Введите год сегодняшнего дня"))
d=int(input("Введите номер месяца рождения человека"))
c=int(input("Введите год рождения человека"))
t=(b-c)
if d>=a:
  print(t-1)
else:
  print(t)

  
# --------------
# Пример вывода:
#
# Введите номер месяца сегодняшнего дня: 5
# Введите год сегодняшнего дня: 2017
# Введите номер месяца рождения человека: 1
# Введите год рождения человека: 2000
# Число полных лет:  17
#
# Введите номер месяца сегодняшнего дня: 6
# Введите год сегодняшнего дня: 2015
# Введите номер месяца рождения человека: 8
# Введите год рождения человека: 2010
# Число полных лет:  4

Введите номер месяца сегодняшнего дня5
Введите год сегодняшнего дня2017
Введите номер месяца рождения человека1
Введите год рождения человека2000
17

№ 4.2.5

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_05.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


x=int(input("Введите x"))
y=int(input("Введите y"))
if (x>0) and (y>0) :
  print("1-я четверть")
elif (x<0) and (y>0):
  print("2-я четверть")
elif (x<0) and (y<0) :
  print ("3-я четверть")
elif (x>0) and (y<0):
  print("4-я четверть")
else:
  print("Точка находится на оси х или у")

# --------------
# Пример вывода:
#
# Введите x: 5
# Введите y: 7
# 1-я четверть

Введите x5
Введите y7
1-я четверть

№ 4.2.6

Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax^2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_06.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


a=float(input("Введите значение a"))
b=float(input("Введите значение b"))
c=float(input("Введите значение c"))
d=((b**2)-(4*a*c))
if d<0:
  print("Нет решений")
elif d==0:
    x=((-b)/2*a)
    print("x = ", x)
elif d>0:
    x1=(((-b)+(d**(1/2)))/2*a)
    x2=(((-b)-(d**(1/2)))/2*a)
    print("x1 = ", x1, "x2 = ", x2)

# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Нет решений
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = 1.0, x2 = -4.0

Введите значение a1
Введите значение b3
Введите значение c-4
x1 =  1.0 x2 =  -4.0

№ 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_07.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


nums_count=0
nums_sum=0
x=int(input("Введите первое число"))
while x!=0:
  nums_count=nums_count+1
  nums_sum=nums_sum+x
  x=int(input("Введите новoе число"))
print ("Сумма=", nums_sum)
print ("Количество", nums_count)

# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите новое число: 2
# Введите новое число: 3
# Введите новое число: 4
# Введите новое число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите первое число1
Введите новoе число2
Введите новoе число3
Введите новoе число4
Введите новoе число0
Сумма= 10
Количество 4

№ 4.2.8

Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_08.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


n=int(input("Введите целое число"))
x=0
name=[ ]
while x<=n:
 name.append(x)
 x=x+5
print(name)

# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

Введите целое число12
[0, 5, 10]

№ 4.2.9

Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно

1+1/2+1/3+...+1/n>a

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_09.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


a=float(input("Введите вещественное число"))
n=1
x_sum=list( )
x_sum.append(n)
while sum(x_sum)<=a: 
    n=n+1
    g=1/n
    x_sum.append(g) 
print(n)

# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

Введите число2
4

№ 4.2.10

Дано натуральное число. Определите сумму и количество его цифр.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_10.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


n=list(map(int, input("Введите целое натуральное число")))
n_sum = sum(n) 
n_count = len(n)
print("Сумма", n_sum)
print("Количество", n_count)

# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

Введите целое натуральное число12345
Сумма 15
Количество 5

№ 4.2.11

Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_11.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


start=int(input("Введите значение левой границы")) 
k=int(input("Введите цифру, на которую будут заканчиваться числа")) 
s=int(input("Введите цифру, которой будут кратны числа")) 
need=list()
while start%s!=0: 
    start += 1
else:
    for x in range(99):
        start += 1
        while start%s!=0:
            start += 1
        else:
            if start%10==k:
                need.append(start)
print(need[:10])


# --------------
# Пример вывода:
#
# start = 100
# k = 7
# s = 9
# 117 207 297 387 477 567 657 747 837 927

Введите значение левой границы100
Введите цифру, на которую будут заканчиваться числа7
Введите цифру, которой будут кратны числа9
[117, 207, 297, 387, 477, 567, 657, 747, 837, 927]

№ 4.2.12

Даны целые числа a и b (a может быть больше b). Напечатайте:

*   числа от минимального до максимального в строчку (разделяя пробелом);
*   числа от максимального до минимального «столбиком».

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_12.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


a=int(input("Введите целое число"))
b=int(input("Введите целое число"))
name=[ ]
word=[ ]
if(a>b):
  while (b<=a):
    name.append(b)
    b=b+1
  print(name)
  name.reverse()
  print(*name,sep ="\n")
else:
  while (a<=b):
    name.append(a)
    a=a+1
  print(name)
  name.reverse()
  print(*name,sep ="\n")

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

введите целое число1
введите целое число5
[1, 2, 3, 4, 5]
5
4
3
2
1

№ 4.2.13

Для введенных с клавиатуры положительных целых чисел a и b (a≤b) определите:


* сумму всех целых чисел от a до b
*  произведение всех целых чисел от a до b;
*  среднее арифметическое всех целых чисел от a до b;
*  среднее геометрическое нечетных чисел от a до b.

Отрезок поиска включает сами числа a и b. При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_13.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


a=int(input("Введите число"))
b=int(input("Введите число, больше предыдущего"))
ls=list(range(a,b+1,1))
n_sum=sum(ls)
n_mult=1
a = 0
while a<len(ls):
    n_mult=n_mult*ls[a]
    a += 1
n_avg=n_sum/len(ls)
print("Сумма = ", n_sum)
print("Произведение = ", n_mult)
print("Среднее арифметическое = ", n_avg)
b=0
c=0
n_avg_geom=1
while b<len(ls):
    if ls[b]%2==1:
        n_avg_geom=n_avg_geom*ls[b]
        b += 2
        c += 1
    else:
        b += 1
n_avg_geom=round((n_avg_geom**(1/c)),2)
print("Среднее геометрическое нечетных чисел = ", n_avg_geom)

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# Сумма = 15
# Произведение = 120
# Среднее арифметическое = 3.00
# Среднее геометрическое нечетных чисел = 2.47

Введите число1
Введите число, больше предыдущего5
Сумма =  15
Произведение =  120
Среднее арифметическое =  3.0
Среднее геометрическое нечетных чисел =  2.47

№ 4.2.14

Начав тренировки, лыжник в первый день пробежал s км. (s>0, вещественное число). Каждый следующий день он увеличивал пробег на p % (0<p≤100, вещественное число) от пробега предыдущего дня. Определите:

*  пробег лыжника за второй, третий, …, десятый день тренировок;
*  какой суммарный путь он пробежал за первые 10 дней тренировок.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_14.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


s=float(input("Введите количество км за первый день"))
p=float(input("Введите процент увеличения пробега"))
i=list() 
i.append(s) 
g=0
d=1
for x in range(9):
    s=((s*(p/100))+s)+0.0001
    d += 1
    i.append(s)
    print("Пробег за", d, "день", round(s,1), "км")
total=sum(i)
print("Суммарный пробег", round(total,1), "км")

# --------------
# Пример вывода:
#
# Пробег за 1-й день (км.) = 5
# На сколько увеличивает пробег (%) = 10
# Пробег за 2-й день: 5.5 км.
# Пробег за 3-й день: 6.1 км.
# Пробег за 4-й день: 6.7 км.
# Пробег за 5-й день: 7.3 км.
# Пробег за 6-й день: 8.1 км.
# Пробег за 7-й день: 8.9 км.
# Пробег за 8-й день: 9.7 км.
# Пробег за 9-й день: 10.7 км.
# Пробег за 10-й день: 11.8 км.
# Суммарный пробег: 79.7 км.

Введите количество км за первый день5
Введите процент увеличения пробега10
Пробег за 2 день 5.5 км
Пробег за 3 день 6.1 км
Пробег за 4 день 6.7 км
Пробег за 5 день 7.3 км
Пробег за 6 день 8.1 км
Пробег за 7 день 8.9 км
Пробег за 8 день 9.7 км
Пробег за 9 день 10.7 км
Пробег за 10 день 11.8 км
Суммарный пробег 79.7 км

№ 4.2.15

Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_15.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


p=int(input("Введите грузоподъемность грузовика"))
n=int(input("Введите количество предметов"))
amount = list() 
for x in range(n):
    k=int(input("Введите массу предмета"))
    amount.append(k)
if sum(amount)>=p:
    print("Невозможна")
else:
    print("Возможна")

# --------------
# Пример вывода:
#
# Грузоподъемность грузовика = 10
# Количество предметов = 2
# Масса 1-го предмета = 3
# Масса 2-го предмета = 3
# Возможна

Введите грузоподъемность грузовика10
Введите количество предметов2
Введите массу предмета3
Введите массу предмета3
Возможна

№ 4.2.16

В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_16.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


n=int(input("Введите количество районов"))
total=list() 
for x in range(n):4
    s=float(input("Введите площадь района")) 
    o=float(input("Введите урожайность в районе")) 
    g=o*s
    total.append(g)
print(round(sum(total), 1))

# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

Введите количество районов3
Введите площадь района4
Введите урожайность в районе2
Введите площадь района7
Введите урожайность в районе3
Введите площадь района9
Введите урожайность в районе4
65.0

№ 4.2.17

Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

In [2]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_17.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


nums_count=0
nums_sum=0
x=int(input("введите первое число"))
while (x!=0):
  nums_count=nums_count+1
  nums_sum=nums_sum+x
  x=int(input("введите новoе число"))
  if (x==0):
    break
print ("сумма=", nums_sum)
print ("количество", nums_count)

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

введите первое число1
введите новoе число2
введите новoе число3
введите новoе число4
введите новoе число0
сумма= 10
количество 4

№ 4.2.18

Предложение, введенное с клавиатуры, содержит слова из гласных и согласных букв кириллицы (регистр может быть различный), а также пробелы.

Определите количество гласных и согласных букв в предложении. Для пропуска пробелов используйте оператор continue.

In [3]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_18.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


sentence=input("Введите предложение")
gl=0  
sogl=0  
b=0
for x in sentence: 
    a = x.lower( )
    if a == "а" or a == "я" or a == "у" or a == "ю" or a == "о" or a == "е" or a == "ё" or a == "э" or a == "и" or a == "ы":
        gl = gl +1
    elif  (a==" "):
      b=b+0
    else:
      sogl=sogl+1
print("Гласных" , gl , "Согласных" , sogl)

# --------------
# Пример вывода:
#
# Введите предложение: Программирование
# Кол-во букв в предложении: гласных - 7, согласных - 9

Введите предложениеПрограммирование
Гласных 7 Согласных 9

№ 4.2.19

Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [5]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_19.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


a=int(input("Введите первое число"))
b=int(input("Введите второе число"))
c=int(input("Введите третье число"))
g=list( )
for x in range(a,b+1):
    if x%c==0:
        g.append(x)

print(g)

# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

Введите первое число1
Введите второе число10
Введите третье число2
[2, 4, 6, 8, 10]

№ 4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [8]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_20.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru


n=int(input("Введите число"))
g=list( )
for x in range(100, 1000):
    a=sum(int(e) for e in str(x))
    if a==n:
        g.append(x)

# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

Введите число3

№ 4.2.21

Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_21.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru

№ 4.2.22

Даны n вещественных чисел. Определите максимальное и минимальное из них.

При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_22.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru

№ 4.2.23

Дано натуральное число n. Определите, является ли оно членом последовательности Фибоначчи .

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_23.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru

№ 4.2.24

Дано n вещественных чисел. Определите, является ли последовательность упорядоченной по возрастанию. В случае отрицательного ответа выведите порядковый номер числа, нарушающего такую упорядоченность.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_24.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru

№ 4.2.25

Выведите на экран таблицу умножения на n (2<n≤9) в виде:

![image.png]()

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_25.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru

№ 4.2.26

Выведите графическое изображения делимости чисел от 1 до n (значение n вводится с клавиатуры) - в каждой строке напечатайте очередное число и столько символов *, сколько делителей у этого числа.

Например, если n=4, на экране должно быть напечатано:

![image.png]()

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_26.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru

№ 4.2.27

Выведите на экран (в строку) n первых простых чисел.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_27.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru

№ 4.2.28

Составьте программу для нахождения всех натуральных решений уравнения x^2+y^2+z^2=k^2, где x, y, z ∈ [1,30], а k вводится с клавиатуры.

In [ ]:
# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_28.
#
# Выполнил: Харламова Анна
# Группа: АДЭУ-221
# E-mail: Supricon@yandex.ru